.container{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Share', cursive;
  color:rgba(239, 95, 43, 1);
  font-size: 14px;
}

